body {
    background-color: #ffffff;
}

/*--------------header*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: 0 auto;
}

#alllogo {
    display: flex;
}

#logo {

    align-items: center;

}

#logoCharacter {
    align-self: center;
}

#extrabox {
    padding-left: 140px;
}


li {
    list-style-type: none;
    width: 80px;
    height: 72px;
    background-color: white;
    float: left;
    color: black;
    line-height: 72px;
    text-align: center;
}

li:hover {
    background-color: #6699ff;
    color: white;
}


#loginOrReg {
    height: 72px;
    line-height: 72px;
}

/*--------------banner*/

.banner {
    width: 100%;
    margin: 0 auto;
}

#searchBar {
    text-align: center;
    position: relative;

}

.title {
    color: #6699ff;
}

#searchText {
    width: 350px;
    height: 40px;
    border-radius: 6px 6px 6px 6px;
    background-image: url(img/searchIcon.png);
    background-repeat: no-repeat;
    background-position: right;

}

.info {
    text-align: center;

}


.box {
    width: 1000px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}

.box div {
    width: 10%;
    float: left;
    transition: all 1s;

}

#imgBox {
    text-align: center;
    width: 100%;
}

.boxImg {
    width: 960px;
    cursor: pointer;
}

.box:hover div {
    width: 5%;
    justify-content: center;
}

.box div:hover {
    width: 55%;
}

.infoButton {
    width: 160px;
    height: 54px;

    border-color: #6699ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;

}

#boxjapan {
    padding-left: 4px;
}

.buttonP {
    border-radius: 9px 9px 9px 9px;
    color: #6699ff
}
.infoButton2 {
    width: 160px;
    height: 54px;

    border-color: #6699ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    background-color: #6699ff;
    margin-top: 72px;
    margin-bottom: 108px;

}
.buttonP2 {
    border-radius: 9px 9px 9px 9px;
    color: white;
}
.imgBox2 {
    width: 1195px;
    margin: 0 auto;
    align-self: center;
    overflow: hidden;

}
#boxpy{
    width: 1195px;
    margin: 0 auto;
}

#foot {
    width: 100%;
    height: 75px;
    background-color: deepskyblue;
}

.footWords {
    text-align: center;
    color: white;
}

#footBox {
    padding: 10px;
    line-height: 10px;
}

#imgPyramid {
    padding: 40px;
    position: relative;
}

#mexicobox {
    width: 1195px;
    height: 686px;
    margin: 0 auto;
    overflow: hidden;
}

#mexico {
    width: 450px;
    line-height: 50%;
    margin-right: 185px;
    float: left;
}

#mexicowords {
    width: 560px;
    float: left;
    line-height: 250%;
}

#buttonbox3{
    width: 180px;
    height: 60px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
}
#button3{
    height: 60px;
    text-align: center;
}
#dali{
    width: 1195px;
    margin: 0 auto;
    overflow: hidden;
}
#dalileft{
    float: left;
    width: 700px;
    height: 960px;
    background-image: url("img/dalileft.png");

}
#daliright{
    float: left;
    padding-top: 28px;
}
.dali1{
    width: 443px;
    height: 466px;
    padding-left: 28px;
    padding-bottom: 26px;

}

#finalbox{
    margin: 0 auto;
    width: 1195px;
    overflow: hidden;
}
.finalphoto{
    float: left;
    width: 274px;
    height: 327px;
    padding-left: 20px;
}
#finalphoto4{
    float: left;
    width: 274px;
    height: 327px;
    padding-left: 20px;
    padding-right: 19px;
}
#nz{
    width: 1195px;
    margin: 0 auto;
}