body {
    background-color: #ffffff;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logoBox{
    align-self: flex-start;
}
#logo {
text-align: left;

}
.navBigBox{
    justify-content: center;
    align-items: center;
}
#loginOrReg{
    align-items: center;
}

#logoCharacter {
    text-align: left;

}

.navCharacter {
    color: white;
    text-align: center;
}

.navbox {
    display: inline-block;
    width: 80px;
    height: 60px;
    background-color: #6699ff;

}
.banner{
    width: 100%;
}
#searchBar {
    text-align: center;
    position: relative;
}

.title{
    color: #6699ff;
}
#searchText {
    width: 350px;
    height: 40px;
    border-radius: 6px;
    background-image: url(img/searchIcon.png);
    background-repeat: no-repeat;
    background-position: right;

}

.info {
    text-align: center;

}


.box {
    width: 1000px;
    height: 450px;
    overflow: hidden;
}

.box div {
    width: 10%;
    float: left;
    transition: all 1s;

}

#imgBox {
    text-align: center;
    width: 100%;
}

.boxImg {
    width: 960px;
    cursor: pointer;
}

.box:hover div {
    width: 5%;
    justify-content: center;
}

.box div:hover {
    width: 55%;
}
.infoButton{
    width:160px;
    height: 54px;

    border-color: #6699ff;
    border-width:1px;
    border-style:solid;

}
.buttonP{
    border-radius: 9px;
    color: #6699ff
}
.imgBox2{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.infoBox{
    display: flex;
}
#foot{
    width: 100%;
    height: 75px;
    background-color: deepskyblue;
}
.footWords{
    text-align: center;
    color: white;
}
#footBox{
    padding: 10px;
}